<div id="cards" class="section section-cards" data-background-color="gray">
    <!--     *********    BLOG CARDS     *********      -->
    <div class="cards">
        <div class="container">
            <div class="title">
                <h3 class="title">Cards</h3>
                <h3>
                    <small>Blog Cards</small>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="card" data-background-color="red">
                        <div class="card-body">
                            <h6 class="category-social">
                                <i class="fa fa-fire"></i> Trending
                            </h6>
                            <p class="card-description">
                                "The supreme art of war is to subdue the enemy without fighting."
                            </p>
                            <div class="card-footer">
                                <div class="author">
                                    <img src="assets/img/julie.jpg" alt="..." class="avatar img-raised">
                                    <span>Susan B. Anthony</span>
                                </div>
                                <div class="stats stats-right">
                                    <i class="now-ui-icons ui-2_favourite-28"></i> 10.4K ·
                                    <i class="now-ui-icons files_single-copy-04"></i> 425
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-blog">
                        <div class="card-image">
                            <img class="img rounded" src="assets/img/project13.jpg">
                        </div>
                        <div class="card-body">
                            <h6 class="category text-warning">
                                <i class="now-ui-icons business_bulb-63"></i> Focus
                            </h6>
                            <h5 class="card-title">
                                <a href="#nuk">Stay Focused: Train Your Brain</a>
                            </h5>
                            <p class="card-description">
                                Our brains are finely attuned to distraction, so today's digital environment makes it especially hard to focus...
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h6 class="category text-danger">
                                <i class="now-ui-icons media-2_sound-wave"></i> Trending
                            </h6>
                            <h5 class="card-title">
                                <a href="#pablo">Here Be Dragons</a>
                            </h5>
                            <p class="card-description">
                                An immersive production studio focused on virtual reality content, has closed a $10 million Series A round led by Discovery Communications
                            </p>
                            <div class="card-footer">
                                <div class="author">
                                    <img src="assets/img/olivia.jpg" alt="..." class="avatar img-raised">
                                    <span>Lord Alex</span>
                                </div>
                                <div class="stats stats-right">
                                    <i class="now-ui-icons ui-2_favourite-28"></i> 342 ·
                                    <i class="now-ui-icons files_single-copy-04"></i> 45
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card" data-background-color="black">
                        <div class="card-body content-danger">
                            <h6 class="category-social">
                                <i class="fa fa-apple"></i> New Apps
                            </h6>
                            <h4 class="card-title">
                                <a href="#nuk">FiftyThree Files For Paper</a>
                            </h4>
                            <p class="card-description">
                                Yesterday, as Facebook launched its news reader app Paper, design-focused startup FiftyThree called out Facebook publicly for using their brand name...
                            </p>
                            <div class="card-footer text-center">
                                <a href="#pablo" class="btn btn-default btn-round">Read Article</a>
                            </div>
                        </div>
                    </div>
                    <div class="card card-blog">
                        <div class="card-image">
                            <a href="#pablo">
                                <img class="img rounded" src="assets/img/card-blog2.jpg">
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="category text-primary">Features</h6>
                            <h5 class="card-title">
                                That’s One Way To Ditch Your Passenger
                            </h5>
                            <p class="card-description">
                                As near as we can tell, this guy must have thought he was going over backwards and tapped the rear break to bring the nose down...
                            </p>
                            <div class="card-footer">
                                <div class="author">
                                    <img src="assets/img/julie.jpg" alt="..." class="avatar img-raised">
                                    <span>Mike John</span>
                                </div>
                                <div class="stats stats-right">
                                    <i class="now-ui-icons tech_watch-time"></i> 5 min read
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" data-background-color="blue">
                        <div class="card-body">
                            <h6 class="category-social">
                                <i class="fa fa-twitter"></i> Twitter
                            </h6>
                            <p>
                                "You Don't Have to Sacrifice Joy to Build a Fabulous Business and Life"
                            </p>
                            <div class="card-footer">
                                <div class="author">
                                    <img src="assets/img/james.jpg" alt="..." class="avatar img-raised">
                                    <span>Tania Andrew</span>
                                </div>
                                <div class="stats stats-right">
                                    <i class="now-ui-icons ui-2_favourite-28"></i> 2.4K ·
                                    <i class="now-ui-icons files_single-copy-04"></i> 45
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0">
                    <div class="card card-blog">
                        <div class="card-image">
                            <a href="#pablo">
                                <img class="img rounded" src="assets/img/examples/card-blog6.jpg">
                            </a>
                        </div>
                        <div class="card-body text-center">
                            <h6 class="category text-danger">
                                <i class="now-ui-icons media-2_sound-wave"></i> Business
                            </h6>
                            <h5 class="card-title">
                                Axel Springer Spends $343M To Buy Business Insider
                            </h5>
                            <p class="card-description">
                                German media giant Axel Springer has announced it’s acquiring online business news publication Business Inside...
                            </p>
                            <div class="card-footer">
                                <a href="#nuk" class="btn btn-primary">Read Article</a>
                            </div>
                        </div>
                    </div>
                    <div class="card card-blog">
                        <div class="card-image">
                            <img class="img rounded" src="assets/img/card-blog3.jpg">
                        </div>
                        <div class="card-body">
                            <h6 class="category text-warning">
                                <i class="now-ui-icons media-1_camera-compact"></i> Photo
                            </h6>
                            <h5 class="card-title">
                                <a href="#pablo">Indispensible to nature photography: the hide</a>
                            </h5>
                            <div class="card-footer">
                                <div class="stats stats-right">
                                    <i class="now-ui-icons ui-2_favourite-28"></i> 342 ·
                                    <i class="now-ui-icons files_single-copy-04"></i> 45
                                </div>
                                <div class="author">
                                    <img src="assets/img/james.jpg" alt="..." class="avatar img-raised">
                                    <span>Devin Coldewey</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 px-0">
                <div class="card card-fashion card-background" style="background-image: url('assets/img/bg26.jpg')">
                    <div class="card-body">
                        <div class="card-title text-left">
                            <h2>
                                <a href="#pablo">
                                    Walk of shame - Latest Urban Trend
                                </a>
                            </h2>
                        </div>
                        <div class="card-footer text-left">
                            <div class="stats">
                                <span>
                                    <i class="now-ui-icons users_circle-08"></i>Author
                                </span>
                                <span>
                                    <i class="now-ui-icons tech_watch-time"></i> June 2, 2017
                                </span>
                            </div>
                            <div class="stats-link pull-right">
                                <a href="#pablo" class="footer-link">People</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 px-0">
                <div class="card-container">
                    <div class="card card-fashion">
                        <h4 class="card-title">
                            <a href="#pablo">
                                The view from south Texas in one Picture
                            </a>
                        </h4>
                        <div class="card-body">
                            <div class="card-footer">
                                <div class="stats">
                                    <span>
                                        <i class="now-ui-icons users_circle-08"></i>Author
                                    </span>
                                    <span>
                                        <i class="now-ui-icons tech_watch-time"></i> June 2, 2017
                                    </span>
                                </div>
                                <div class="stats-link pull-right">
                                    <a href="#pablo">Mountains</a>&sbquo;
                                    <a href="#pablo">Outdoor</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-fashion card-background" style="background-image: url('http://mvpwp.com/demo/nowwp/wp-content/uploads/sites/6/2017/06/a-james-donovan-180375.jpg')">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--     *********    END BLOG CARDS      *********      -->
    <!--     *********    PROFILE CARDS     *********      -->
    <div class="cards">
        <div class="container">
            <div class="title">
                <h3>
                    <small>Profile Cards</small>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="card card-profile">
                        <div class="card-image">
                            <img class="img rounded" src="assets/img/julie.jpg">
                        </div>
                        <div class="card-body">
                            <a href="pablo">
                                <h4 class="card-title">Julie Andrew</h4>
                            </a>
                            <h6 class="card-category text-info">
                                Web Designer
                            </h6>
                            <div class="card-footer">
                                <a href="#pablo" class="btn btn-icon btn-neutral btn-lg btn-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-icon btn-neutral btn-lg btn-dribbble"><i class="fa fa-dribbble"></i></a>
                                <a href="#pablo" class="btn btn-icon btn-neutral btn-lg btn-instagram"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card card-profile">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img img-raised" src="assets/img/mike.jpg">
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Alec Mike</h4>
                            <h6 class="category text-gray">
                                Designer
                            </h6>
                            <p class="card-description">
                                One of the co-founders. Alec drives the technical strategy of the platform, customer support and brand.
                            </p>
                            <div class="card-footer">
                                <a href="#pablo" class="btn btn-icon btn-twitter btn-round"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-icon btn-facebook btn-round"><i class="fa fa-facebook-square"></i></a>
                                <a href="#pablo" class="btn btn-icon btn-google btn-round"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card card-profile" data-background-color="black">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img img-raised" src="assets/img/james.jpg">
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-category">CEO / Co-Founder</h6>
                            <h4 class="card-title">James Thompson</h4>
                            <p class="card-description">
                                Don't be scared of the truth because we need to restart the human foundation in truth.
                            </p>
                            <a href="#pablo" class="btn btn-primary btn-round">Follow</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card card-profile">
                        <div class="card-body">
                            <div class="card-avatar">
                                <a href="#pablo">
                                    <img class="img img-raised" src="assets/img/olivia.jpg">
                                </a>
                            </div>
                            <h6 class="category text-gray">Growth Hacker</h6>
                            <h4 class="card-title">Olivia Thompson</h4>
                            <p class="card-description">
                                "Work hard play harder."
                            </p>
                            <div class="card-footer">
                                <a href="#pablo" class="btn btn-icon btn-primary btn-simple btn-round"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-icon  btn-primary btn-simple btn-round"><i class="fa fa-facebook-square"></i></a>
                                <a href="#pablo" class="btn btn-icon  btn-primary btn-simple btn-round"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--     *********    END PROFILE CARDS      *********      -->
    <!--     *********    PRODUCT CARDS     *********      -->
    <div class="cards">
        <div class="container">
            <div class="title">
                <h3>
                    <small>Full Background Cards</small>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-background" style="background-image: url('assets/img/bg1.jpg')">
                        <div class="card-body">
                            <div class="card-title text-left">
                                <h3>How wild Animals live in the National Forest</h3>
                            </div>
                            <div class="card-footer text-left">
                                <div class="stats">
                                    <span>
                                        <i class="now-ui-icons media-2_sound-wave"></i>SPACE.com
                                    </span>
                                    <span>
                                        <i class="now-ui-icons tech_watch-time"></i> 20min ago
                                    </span>
                                </div>
                                <div class="stats-link pull-right">
                                    <a href="#pablo" class="footer-link">Environment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-background" style="background-image: url('assets/img/bg3.jpg')">
                        <div class="card-body">
                            <div class="card-title text-left">
                                <h3>How wild Animals live in the National Forest</h3>
                            </div>
                            <div class="card-footer text-left">
                                <div class="stats-link">
                                    <a href="#pablo" class="footer-link">Environment</a>
                                </div>
                                <div class="stats stats-right">
                                    <span>
                                        <i class="now-ui-icons media-2_sound-wave"></i>SPACE.com
                                    </span>
                                    <span>
                                        <i class="now-ui-icons tech_watch-time"></i> 20min ago
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--     *********    END PRODUCT CARDS      *********      -->
    <!--     *********    PRICING CARDS     *********      -->
    <div class="cards">
        <div class="container">
            <div class="title">
                <h3>
                    <small>Pricing Cards</small>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="card card-pricing">
                        <div class="card-body">
                            <h6 class="category">Alpha Pack</h6>
                            <div class="icon icon-primary">
                                <i class="now-ui-icons objects_diamond"></i>
                            </div>
                            <h3 class="card-title">$67</h3>
                            <p class="card-description">
                                This is good if your company size is between 100 and 299 employees.</p>
                            <a href="#pablo" class="btn btn-primary btn-round">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card card-pricing" data-background-color="green">
                        <div class="card-body">
                            <h1 class="card-title">$40</h1>
                            <ul>
                                <li><i class="now-ui-icons ui-1_check text-primary"></i> Unlimited MB</li>
                                <li><i class="now-ui-icons ui-1_check text-primary"></i> Unlimited emails</li>
                                <li><i class="now-ui-icons ui-1_check text-primary"></i> Unlimited Databases</li>
                                <li><i class="now-ui-icons ui-1_check text-primary"></i> Full Support</li>
                            </ul>
                            <a href="#pablo" class="btn btn-neutral btn-default disabled btn-round">
                                Current Plan
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card card-pricing card-background" style="background-image: url('assets/img/project12.jpg')">
                        <div class="card-body">
                            <h6 class="category">Professional</h6>
                            <div class="icon icon-primary">
                                <i class="now-ui-icons objects_spaceship"></i>
                            </div>
                            <h2 class="card-title">$67</h2>
                            <p class="card-description">
                                This is good if you are a freelancer of photographer.</p>
                            <a href="#pablo" class="btn btn-primary btn-round">
                                Sign Up
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card card-pricing">
                        <div class="card-body">
                            <h6 class="category">Starter</h6>
                            <h1 class="card-title">
                                <small>$</small>10</h1>
                            <ul>
                                <li><i class="now-ui-icons ui-1_check text-success"></i> 1000 MB</li>
                                <li><i class="now-ui-icons ui-1_simple-remove text-danger"></i> 3 email</li>
                                <li><i class="now-ui-icons ui-1_simple-remove text-danger"></i> 5 Databases</li>
                                <li><i class="now-ui-icons ui-1_simple-remove text-danger"></i> No Support</li>
                            </ul>
                            <a href="#pablo" class="btn btn-primary btn-round">
                                Register
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--     *********    END PRICING CARDS      *********      -->
</div>
<div class="section section-plain-cards">
    <div class="container">
        <div class="title">
            <h3>Plain Cards</h3>
            <h3>
                <small>Blog Cards</small>
            </h3>
        </div>
        <!--     *********    PLAIN BLOG CARDS      *********      -->
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card card-blog card-plain">
                    <div class="card-image">
                        <img class="img rounded img-raised" src="assets/img/project13.jpg">
                    </div>
                    <div class="card-body">
                        <h6 class="category text-warning">
                            <i class="now-ui-icons business_bulb-63"></i> Focus
                        </h6>
                        <h5 class="card-title">
                            <a href="#nuk">Stay Focused: Train Your Brain</a>
                        </h5>
                        <p class="card-description">
                            Our brains are finely attuned to distraction, so today's digital environment makes it especially hard to focus...
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card card-blog card-plain">
                    <div class="card-image">
                        <a href="#pablo">
                            <img class="img rounded img-raised" src="assets/img/card-blog2.jpg">
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="category text-primary">Features</h6>
                        <h5 class="card-title">
                            <a href="#nuk">That’s One Way To Ditch Your Passenger</a>
                        </h5>
                        <p class="card-description">
                            As near as we can tell, this guy must have thought he was going over backwards and tapped the rear break to bring the nose down...
                        </p>
                        <div class="card-footer">
                            <div class="author">
                                <img src="assets/img/julie.jpg" alt="..." class="avatar img-raised">
                                <span>Mike John</span>
                            </div>
                            <div class="stats stats-right">
                                <i class="now-ui-icons tech_watch-time"></i> 5 min read
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card card-blog card-plain">
                    <div class="card-image">
                        <a href="#pablo">
                            <img class="img img-raised rounded" src="assets/img/examples/card-blog6.jpg">
                        </a>
                    </div>
                    <div class="card-body text-center">
                        <h6 class="category text-danger">
                            <i class="now-ui-icons media-2_sound-wave"></i> Business
                        </h6>
                        <h5 class="card-title">
                            <a href="#nuk">Axel Springer Spends $343M To Buy Business Insider</a>
                        </h5>
                        <p class="card-description">
                            German media giant Axel Springer has announced it’s acquiring online business news publication Business Inside...
                        </p>
                        <div class="card-footer">
                            <a href="#nuk" class="btn btn-primary">Read Article</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--     *********    END PLAIN BLOG CARDS      *********      -->
    <!--     *********   PLAIN PROFILE CARDS     *********      -->
    <div class="container">
        <div class="title">
            <h3>
                <small>Profile Cards</small>
            </h3>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="card card-profile card-plain">
                    <div class="card-image">
                        <img class="img rounded" src="assets/img/julie.jpg">
                    </div>
                    <div class="card-body">
                        <a href="pablo">
                            <h4 class="card-title">Julie Andrew</h4>
                        </a>
                        <h6 class="card-category text-info">
                            Web Designer
                        </h6>
                        <div class="card-footer">
                            <a href="#pablo" class="btn btn-icon btn-neutral btn-lg btn-twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-icon btn-neutral btn-lg btn-dribbble"><i class="fa fa-dribbble"></i></a>
                            <a href="#pablo" class="btn btn-icon btn-neutral btn-lg btn-instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img img-raised" src="assets/img/mike.jpg">
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Alec Mike</h4>
                        <h6 class="category text-gray">
                            Designer
                        </h6>
                        <p class="card-description">
                            One of the co-founders. Alec drives the technical strategy of the platform, customer support and brand.
                        </p>
                        <div class="card-footer">
                            <a href="#pablo" class="btn btn-icon btn-twitter btn-round"><i class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-icon btn-facebook btn-round"><i class="fa fa-facebook-square"></i></a>
                            <a href="#pablo" class="btn btn-icon btn-google btn-round"><i class="fa fa-google"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img img-raised" src="assets/img/james.jpg">
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category">CEO / Co-Founder</h6>
                        <h4 class="card-title">James Thompson</h4>
                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth.
                        </p>
                        <a href="#pablo" class="btn btn-primary btn-round">Follow</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card card-profile card-plain">
                    <div class="card-body">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img img-raised" src="assets/img/olivia.jpg">
                            </a>
                        </div>
                        <h6 class="category text-gray">Growth Hacker</h6>
                        <h4 class="card-title">Olivia Thompson</h4>
                        <p class="card-description">
                            "Work hard play harder."
                        </p>
                        <div class="card-footer">
                            <a href="#pablo" class="btn btn-icon btn-primary btn-simple btn-round"><i class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-icon  btn-primary btn-simple btn-round"><i class="fa fa-facebook-square"></i></a>
                            <a href="#pablo" class="btn btn-icon  btn-primary btn-simple btn-round"><i class="fa fa-google"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--     *********    END PROFILE CARDS      *********      -->
</div>
