<nav class="navbar navbar-expand-lg bg-torre fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/presentation']" placement="bottom" ngbTooltip="Torre Techincal test by Leonardo Sapuy">
                Torre Profile Viewer
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="gray">
            <ul class="navbar-nav ml-auto">        
                <li class="nav-item">
                    <a class="nav-link btn btn-primary" target=_blank #exportcv href="#">
                       <p>Download CV</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
