.pulsing {
    animation-iteration-count: 1;
    animation: pulse 0.5s;
    animation-direction: alternate;
}
@keyframes pulse {
0% {
    opacity: 1;
    color: black
}
50% {
    opacity: 0.3;
    color: orange;
}
100% {
    opacity: 1;
    color: black;
}
}