<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Getting data from Torre.co, please wait...</p>
</ngx-spinner>
<ng-template #content let-c="close" class="modal-default">
    <div class="modal-header justify-content-center">
        <h4 class="title title-up">Get your Genome</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col">
                <p>Give us your Torre genome, we will get all your public info to create your CV</p>
            </div>
        </div>
        <div class="row">

            <div class="col-md-8">
                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
                    </div>
                    <input pattern="https://.*" required type="url" class="form-control"
                        placeholder="https://torre.co/en/yourname" (focus)="focus=true" (blur)="focus=false" id="url"
                        [(ngModel)]="urlTorre">
                </div>
            </div>
            <div class="col-md-4">
                <button [disabled]="urlTorre === ''" type="button" class="btn btn-primary" type='submit'
                    (click)="c('Submit click')">Let's
                    go!</button>
            </div>

        </div>
    </div>
    <div class="modal-footer justify-content-center">

    </div>
</ng-template>

<div class="wrapper">
    <div class="page-header page-header-small" filter-color="torre">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/bg5.jpg') ;">
        </div>
        <div class="content-center">
            <div class="photo-container">
                <img src="{{person.picture}}" alt="">
            </div>
            <h3 class="title">{{person.name}}</h3>
            <p class="category">{{person.professionalHeadline}}</p>
            <div class="content">
                <div *ngIf="stats.strengths" class="social-description">
                    <h2>{{stats.strengths}}</h2>
                    <p>Strengths</p>
                </div>

                <div *ngIf="stats.awards" class="social-description">
                    <h2>{{stats.awards}}</h2>
                    <p>Awards</p>
                </div>

                <div *ngIf="stats.interests" class="social-description">
                    <h2>{{stats.interests}}</h2>
                    <p>Interests</p>
                </div>


            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="button-container">
                <a href="{{urlTorre}}" target=_blank class="btn btn-primary btn-round btn-lg">Watch on Torre.co</a>
                <a *ngIf="links.twitter" target=_blank href="{{links.twitter}}"
                    class="btn btn-default btn-round btn-lg btn-icon" placement="top" ngbTooltip="Twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <a *ngIf="links.linkedin" target=_blank href="{{links.linkedin}}"
                    class="btn btn-default btn-round btn-lg btn-icon" placement="top" ngbTooltip="LinkedIn">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a *ngIf="links.website" target=_blank href="{{links.website}}"
                    class="btn btn-default btn-round btn-lg btn-icon" placement="top" ngbTooltip="Personal Website">
                    <i class="fa fa-globe"></i>
                </a>
            </div>
            <h3 class="title">About me</h3>
            <h5 class="description text-center">{{person.summaryOfBio}}</h5>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="title text-center">Résumé</h4>
                    <ngb-tabset [justify]="'center'" type="pills"
                        class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="now-ui-icons business_briefcase-24"></i>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-md-12 ml-auto mr-auto">
                                        <div *ngFor="let job of jobs" class="info info-horizontal">
                                            <div class="icon icon-warning">
                                                <i class="fa fa-briefcase"></i>
                                            </div>
                                            <div class="description">
                                                <p class="info-title"><span class='title'> {{job.name}} </span><span
                                                        class='category'>{{job.fromMonth}} {{job.fromYear}} -
                                                        {{job.toMonth||'Current'}} {{job.toYear||''}}</span></p>
                                                <p><span *ngFor="let company of job.organizations"
                                                        class='btn  btn-simple btn-primary'> {{company.name}} </span>
                                                </p>
                                                <p class="description">{{job.responsibilities}}</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="now-ui-icons education_hat"></i>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="row">

                                    <div class="col-md-12 ml-auto mr-auto">
                                        <div *ngFor="let edu of education" class="info info-horizontal">
                                            <div class="icon icon-warning">
                                                <i class="fa fa-graduation-cap"></i>
                                            </div>
                                            <div class="description">
                                                <p class="info-title"><span class='title'> {{edu.name}} </span><span
                                                        class='category'>{{edu.fromMonth}} {{edu.fromYear}} -
                                                        {{edu.toMonth||'Current'}} {{edu.toYear||''}}</span></p>
                                                <p><span *ngFor="let company of edu.organizations"
                                                        class='btn  btn-simple btn-primary'> {{company.name}} </span>
                                                </p>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="now-ui-icons sport_trophy"></i>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="row">

                                    <div class="col-md-12 ml-auto mr-auto">
                                        <div *ngFor="let award of awards" class="info info-horizontal">
                                            <div class="icon icon-warning">
                                                <i class="fa fa-trophy"></i>
                                            </div>
                                            <div class="description">
                                                <p class="info-title"><span class='title'> {{award.name}} </span><span
                                                        class='category'>{{award.fromMonth}} {{award.fromYear}} -
                                                        {{award.toMonth||'Current'}} {{award.toYear||''}}</span></p>
                                                <p><span *ngFor="let company of award.organizations"
                                                        class='btn btn-simple btn-primary'> {{company.name}} </span></p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>

    <!--     *********    CONTACT US 2     *********      -->
    <div class="contactus-2">
        <div class="map">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [styles]="styles">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-contact card-raised">
                <div class="card-header text-center">
                    <h4 class="card-title">Location</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="info info-horizontal">
                                <div class="icon icon-primary">
                                    <i class="now-ui-icons location_pin"></i>
                                </div>
                                <div class="description">
                                    <h5 class="info-title">Find me on</h5>
                                    <p> {{person.location.name}}
                                        <br> {{person.location.country}}
                                        <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <h3 class="title">Strengths & Interests</h3>
            <div class="row justify-content-center">
                <span *ngFor="let strength of strengths" class="badge badge-primary">{{strength.name}}</span>
                <span *ngFor="let interest of interests" class="badge badge-info">{{interest.name}}</span>
                <span *ngFor="let language of languages" class="badge badge-default">{{language.language}} -
                    {{language.fluency}}</span>
            </div>
        </div>
    </div>
    <!--     *********    END CONTACT US 2      *********      -->
    <footer class="footer footer-default ">
        <div class="container">
          
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed and Coded by
                <a href="https://torre.co/en/leonardosapuy" target="_blank">Leonardo Sapuy</a>.
            </div>
        </div>
    </footer>

</div>